<app-encabezado titulo="Viaje"></app-encabezado>

<ion-content class="ion-padding">
  <div id="mapContainer" class="map-container" style="height: 400px; width: 100%;">
    <div id="mapContainer" style="height: 400px; width: 100%;"></div>
  </div>

  <form [formGroup]="formularioViaje"> <!-- Agrega esta línea -->
    <ion-item>
      <ion-label>Destino</ion-label>
      <ion-input formControlName="destino"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin" (click)="unirseAlViaje()">
      Solicitar unirse
    </ion-button>
  </form> <!-- Cierra el formulario aquí -->
</ion-content>
