<app-encabezado titulo="Buscar viaje"></app-encabezado>

<ion-content class="ion-padding">
  <ion-list *ngIf="trips.length > 0; else noTrips">
    <ion-searchbar placeholder="Destino"></ion-searchbar>
    <ion-item *ngFor="let trip of trips" class="ion-margin-end" routerLink="/detalle-viaje">
      <ion-label>
        <h2>{{ trip.driverName }} - {{ trip.destination }}</h2>
        <p>Hora de salida: {{ trip.departureTime }}</p>
        <p>Asientos disponibles: {{ trip.availableSeats }}</p>
        <p>Precio: ${{ trip.price }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noTrips>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay viajes disponibles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        No hay viajes disponibles. Por favor revisa más tarde.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
