<app-encabezado titulo="Buscar viaje"></app-encabezado>

<ion-content class="ion-padding">
  <ion-list *ngIf="viajes.length > 0; else noTrips">
    <ion-searchbar placeholder="Destino"></ion-searchbar>
    <ion-item *ngFor="let viaje of viajes" class="ion-margin-end" (click)="unirseAlViaje(viaje)">
      <ion-label>
        {{viaje.destino}}
        <p>Precio: ${{ viaje.precio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noTrips>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay viajes disponibles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        No hay viajes disponibles. Por favor revisa más tarde.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
