<app-encabezado titulo="Editar Datos"></app-encabezado>

<ion-content class="ion-padding">
  <ion-item class="ion-margin-end">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item class="ion-margin-end">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="ion-margin-end">
    <ion-label position="floating">RUT</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item class="ion-margin-end">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin">Guardar Cambios</ion-button>
</ion-content>
