<app-encabezado titulo="Crear Viaje"></app-encabezado>

<ion-content class="ion-padding">
  <form *ngIf="formularioViaje" [formGroup]="formularioViaje" (ngSubmit)="crearViaje()">
    <ion-item class="ion-margin-end">
      <ion-label>Selecciona un auto</ion-label>
      <ion-select formControlName="auto" placeholder="Escoge uno">
        <ion-select-option *ngFor="let auto of autos" [value]="auto">
          {{ auto.marca }} - {{ auto.modelo }} ({{ auto.patente }})
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Fecha de Salida</ion-label>
      <ion-input formControlName="fechaSalida" type="date" required></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="precio" type="number" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" color="primary" class="ion-margin" [disabled]="!formularioViaje?.valid">
      Crear Viaje
    </ion-button>
  </form>

  <div id="mapContainer" style="height: 400px; width: 100%;"></div>

  <ion-button expand="block" color="secondary" (click)="addParada([-73.05, -36.78])">
    Añadir Parada
  </ion-button>
</ion-content>
