<app-encabezado titulo="Crear Viaje"></app-encabezado>

<ion-content class="ion-padding">
  <form *ngIf="formularioViaje" [formGroup]="formularioViaje" (ngSubmit)="crearViaje()">
    <ion-item class="ion-margin-end">
      <ion-input labelPlacement="floating" label="Destino" formControlName="destino" type="text" required></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-input labelPlacement="floating" label="Fecha de salida" formControlName="fechaSalida" type="date" required></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-input labelPlacement="floating" label="Precio" formControlName="precio" type="number" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" color="primary" class="ion-margin" [disabled]="!formularioViaje?.valid">
      Crear Viaje
    </ion-button>
  </form>
</ion-content>
