<app-encabezado titulo="Historial de viajes"></app-encabezado>

<ion-content class="ion-padding">
  <ion-segment value="default">
    <ion-segment-button value="default" (click)="showTrips('piloto')" >
      <ion-label>Piloto</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pasajero" (click)="showTrips('pasajero')">
      <ion-label>Pasajero</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="isPiloto">
    <ion-item *ngFor="let viaje of viajesPiloto" class="ion-margin-end">
      <ion-label>
        <ion-chip [color]="getColorByEstado(viaje.estado)">
          <ion-label>{{viaje.estado}}</ion-label>
        </ion-chip>
        <h2>Destino: {{ viaje.destino }}</h2>
        <p>Fecha y Hora: {{ viaje.fecha }}</p>
        <p>Pasajeros: {{ viaje.pasajeros.nombre }}</p>
        <p>Auto: {{ viaje.auto.marca }}, {{ viaje.auto.modelo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isPasajero">
    <ion-item *ngFor="let viaje of viajesPasajero" class="ion-margin-end">
      <ion-label>
        <ion-chip [color]="getColorByEstado(viaje.estado)">
          <ion-label>{{viaje.estado}}</ion-label>
        </ion-chip>
        <h2>Piloto: {{ viaje.piloto }}</h2>
        <p>Fecha y Hora: {{ viaje.fecha }}</p>
        <p>Destino: {{ viaje.destino }}</p>
        <p>Auto: {{ viaje.auto.marca }}, {{ viaje.auto.modelo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>