<app-encabezado titulo="Crear Usuario"></app-encabezado>

<ion-content scroll-y="true" class="ion-padding">
  <!-- Formulario de registro de usuario -->
  <form [formGroup]="registrarForm" (ngSubmit)="submit()">
    <ion-item class="ion-margin-end">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="correo" type="email"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label>Quiero ser conductor</ion-label>
      <ion-checkbox slot="start" formControlName="esConductor"></ion-checkbox>
    </ion-item>
  </form>

  <!-- Formulario del auto, visible solo si esConductor está marcado -->
  <form *ngIf="registrarForm.get('esConductor')?.value" [formGroup]="autoForm">
    <ion-item class="ion-margin-end">
      <ion-label position="floating">Marca de Auto</ion-label>
      <ion-input formControlName="marca"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Modelo de Auto</ion-label>
      <ion-input formControlName="modelo"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Patente del Auto</ion-label>
      <ion-input formControlName="patente"></ion-input>
    </ion-item>
  </form>

  <!-- Botón para enviar ambos formularios -->
  <ion-button expand="block" type="submit" [disabled]="registrarForm.invalid" class="ion-margin" (click)="submit()">Crear Cuenta</ion-button>
</ion-content>
