<app-encabezado titulo="Crear Usuario"></app-encabezado>

<ion-content scroll-y="true" class="ion-padding">
  <form [formGroup]="registrarForm" (ngSubmit)="submit()">
    <ion-item class="ion-margin-end">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" ></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido" ></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label>Quiero ser conductor</ion-label>
      <ion-checkbox slot="start" formControlName="esConductor"></ion-checkbox>
    </ion-item>
  </form>
  <form>
    <div [formGroup]="autoForm" *ngIf="registrarForm.get('esConductor')?.value">
      <ion-item>
        <ion-label position="floating">Modelo de Auto</ion-label>
        <ion-input formControlName="modeloAuto"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-end">
        <ion-label position="floating">Marca de Auto</ion-label>
        <ion-input formControlName="marcaAuto"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-end">
        <ion-label position="floating">Patente del Auto</ion-label>
        <ion-input formControlName="patenteAuto"></ion-input>
      </ion-item>
    </div>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="correo" type="email"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" ></ion-input>
    </ion-item>
  </form>
  <ion-button expand="block" type="submit" [disabled]="registrarForm.invalid" class="ion-margin">Crear Cuenta</ion-button>
</ion-content>
