<app-encabezado titulo="Crear Usuario"></app-encabezado>

<ion-content scroll-y="true" class="ion-padding">
  <form [formGroup]="registrarForm" (ngSubmit)="onSubmit()">
    <ion-item class="ion-margin-end">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" [(ngModel)]="usuario.username"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido" [(ngModel)]="usuario.apellido"></ion-input>
    </ion-item>

    <!-- <ion-item class="ion-margin-end">
      <ion-label>Quiero ser conductor</ion-label>
      <ion-checkbox slot="start" formControlName="esConductor"></ion-checkbox>
    </ion-item>

    <div *ngIf="registrarForm.get('esConductor')?.value">
      <ion-item>
        <ion-label position="floating">Modelo de Auto</ion-label>
        <ion-input formControlName="modeloAuto"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-end">
        <ion-label position="floating">Color de Auto</ion-label>
        <ion-input formControlName="colorAuto"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-end">
        <ion-label position="floating">Patente del Auto</ion-label>
        <ion-input formControlName="patenteAuto"></ion-input>
      </ion-item>
    </div> -->

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email" [(ngModel)]="usuario.correo"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-end">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="registrarForm.invalid" class="ion-margin">Crear Cuenta</ion-button>

    <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
    <ion-text color="success" *ngIf="successMessage">{{ successMessage }}</ion-text>
  </form>
</ion-content>
