<app-encabezado titulo="Autos Registrados"></app-encabezado>

<ion-content class="ion-padding">
  <ion-list *ngIf="autos.length > 0">
    <ion-item *ngFor="let auto of autos" class="ion-margin-end">
      <ion-label>
        <h2>Marca: {{ auto.marca }}</h2>
        <p>Modelo: {{ auto.modelo }}</p>
        <p>Patente: {{ auto.patente }}</p>
      </ion-label>
      <ion-button expand="block" color="danger" (click)="confirmarEliminar(auto)" class="ion-padding">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="autos.length <= 0">
    <ion-text color="secondary" class="ion-text-center">
      <h3>No tienes autos registrados 🥺</h3>
    </ion-text>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-margin">
    <ion-fab-button (click)="navigateToRegistrarAuto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
