<app-encabezado titulo="Inicio"></app-encabezado>

<ion-content class="ion-padding">
  <div class="card-container">
    <ion-card routerLink="/crear-viaje" class="centered-card">
        <ion-card-header>
          <ion-icon name="car-outline" class="icon-large ion-text-center"></ion-icon>
          <ion-card-title class="ion-text-center">
            Crear viaje
          </ion-card-title>
        </ion-card-header>
    </ion-card>
  </div>
  <div class="card-container">
    <ion-card routerLink="/buscar-viaje" class="centered-card">
      <ion-card-header>
        <ion-icon name="search-outline" class="icon-large ion-text-center"></ion-icon>
        <ion-card-title class="ion-text-center">
          Buscar viaje
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
