<app-encabezado titulo="Inicio"></app-encabezado>

<ion-content class="ion-padding">
  <div *ngIf="isLoggedIn; else notLoggedIn">
    <ion-list>
      <ion-item routerLink="/buscar-viaje" class="ion-margin-end">
        <ion-label>Buscar viaje</ion-label>
      </ion-item>
      <ion-item routerLink="/crear-viaje" class="ion-margin-end">
        <ion-label>Crear viaje</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #notLoggedIn>
    <h5 color="primary" class="ion-text-center">
      Por favor, inicia sesión para acceder a las opciones de viaje.
    </h5>
    <ion-button expand="block" routerLink="/iniciar-sesion" class="ion-margin">Iniciar Sesión</ion-button>
  </ng-template>
</ion-content>